{% extends 'base.html' %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='game_over.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="body">
<div class="container">
{% if status == 'win' %}
    <h1 style="color: white;">Player {{player}} wins!</h1>
{% elif status == 'tie' %}
    <h1 style="color: white;">It's a tie!</h1>
{% endif %}
<form method="post" action="/reset">
    <button type="submit" id="reset" class="btn btn-danger">Reset</button>
</form>
</div>
</body>
{% endblock %}
